
/*div {
    margin: 20px;
    padding: 10px;
} */
body {
    margin: 0;
    font-family: "Apple Symbols", sans-serif;
}
.logo img {
    height: 100px;
    width: auto;
}
header {
    background-color: #2098D1;
    color: #ffffff;
    font-size: 100%;
}
footer {
    background-color: #2098D1;
    color: #ffffff;
}
header a {
    color: #ffffff;
}
.page-header {
    margin-top: 0;
    text-transform: uppercase;
    margin: auto;
    padding: 20px 20px 0 20px;
}
.logo-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
}
.nav-right {
    position: relative;
    float: right;
    margin-top: 20px;
    line-height: 1.6;
    list-style-type: none;
    overflow: hidden;
}

.list-item {
    float: left;
    font-size: 22px;
}
.list-item a {
    display: block;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}
.list-item a:hover {
    background-color: #065a6e;
}
div.main {
    background-color: #b2b9bb;
    /*padding: 1px;*/
}
.about {
    color: #ffffff;
    border: none;
}
.about .text-center {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    margin: 0%;
}
.about hr {
    margin-left: 10%;
    margin-right: 10%;
}
.portfolio {
    margin-left: 5%;
    margin-right: 5%;
    background-color: violet;
}
.portfolio p {
    margin-top: 0;
}
.portfolio-list {
    list-style-type: none;
}